= form_for(employee, :html => { :class => 'form-horizontal'}) do |f|
  - if employee.errors.any?
    #error_explanation
      h2
        = pluralize(employee.errors.count, "error")
        |  prohibited this employee from being saved:
      ul
        - employee.errors.full_messages.each do |message|
          li
            = message
  .container-fluid
    .form-group
      = f.label :first_name, class: 'control-label col-sm-2'
      .col-sm-3
        = f.text_field :first_name, class: 'form-control', placeholder: 'Enter first name'
      = f.label :last_name, class: 'control-label col-sm-2'
      .col-sm-3
        = f.text_field :last_name, class: 'form-control', placeholder: 'Enter last name'
    .form-group
      = f.label :email, class: 'control-label col-sm-2'
      .col-sm-3
        = f.text_field :email, class: 'form-control', placeholder: 'Enter email address'
      = f.label :user_name, class: 'control-label col-sm-2'
      .col-sm-3
        = f.text_field :user_name, class: 'form-control', placeholder: 'Enter Username'
    .form-group
      = f.label :joining_date, class: 'control-label col-sm-2'
      .col-sm-3
        = f.date_select :joining_date, class: 'form-control'
      = f.label :relieving_date, class: 'control-label col-sm-2'
      .col-sm-3
        = f.date_select :relieving_date, class: 'form-control', include_blank: true
    .form-group
      = f.label :emp_id, 'Employee id', class: 'control-label col-sm-2'
      .col-sm-3
        = f.text_field :emp_id, class: 'form-control', placeholder: 'Enter employee id'
      = f.label :citrix_id, 'Citrix id', class: 'control-label col-sm-2'
      .col-sm-3
        = f.text_field :citrix_id, class: 'form-control', placeholder: 'Enter citrix id'
    .form-group
      = f.label :project, class: 'control-label col-sm-2'
      .col-sm-3
        = f.text_field :project, class: 'form-control', placeholder: 'Enter project name'
      = f.label :department, class: 'control-label col-sm-2'
      .col-sm-3
        = f.collection_select :department_id, Department.all, :id, :name, {}, class: 'form-control'
    .form-group
      = f.label :manager, class: 'control-label col-sm-2'
      .col-sm-3
        = f.text_field :manager, class: 'form-control', placeholder: 'Enter manager name'
    .form-group
      = f.label :citrix_access, class: 'control-label col-sm-2'
      .col-sm-1
        = f.check_box(:citrix_access)
      = f.label :admin_access, class: 'control-label col-sm-2'
      .col-sm-1
        = f.check_box(:admin_access)
      = f.label :document_signed, class: 'control-label col-sm-2'
      .col-sm-1
        = f.check_box(:document_signed)
      = f.label :beachhead_computrace, 'Beachhead/computrace', class: 'control-label col-sm-2'
      .col-sm-1
        = f.check_box(:beachhead_computrace)
    .form-group
      = f.label :active, class: 'control-label col-sm-2'
      .col-sm-3
        = f.check_box :active, disabled: employee.new_record?
    .form-group

    .actions
      .col-sm-offset-2.col-sm-4
        = f.submit class: 'btn btn-info'
        = link_to 'Back', employees_path, class: 'btn btn-info'
