.col-sm-10
  h3
    | List of Employees
.col-sm-2
  = link_to 'New Employee', new_employee_path, class: 'btn btn-info'
.container-fluid
  table.table.table-striped.table-hover.table-condensed.table-bordered
    thead
      tr
        th
          | First name
        th
          | Last name
        th
          | Email
        th
          | User name
        th
          | Joining date
        th
          | Relieving date
        th
          | Employee id
        th
    tbody
      - @employees.each do |employee|
        tr
          td
            = employee.first_name
          td
            = employee.last_name
          td
            = employee.email
          td
            = link_to_employee(employee, 'first_name')
          td
            = employee.joining_date
          td
            = employee.relieving_date
          td
            = employee.emp_id
          td
            = link_to '', edit_employee_path(employee), class: 'glyphicon glyphicon-pencil'
  = paginate @employees
